@font-face {
  font-family: TTL;
  src: url(./font/TTLakes-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: TTL, Arial, sans-serif;
  background: #f8f8f8;
}

.services__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #d9fff5;
  background: #fff;
}

.services__logo-left,
.services__logo-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.services__logo-mid {
  display: none;
}

.services {
  background: #f8f8f8;
}

.services__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__title {
  font-size: 24px;
  font-weight: 700;
  border-left: 4px solid #41f6d7;
  padding-left: 12px;
}

.services__actions {
  display: none;
  gap: 32px;
}

.services__title-action {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  white-space: nowrap;
}

.services__menu {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  margin: 20px 0;
  flex-wrap: wrap;
  gap: 12px;
}

.services__tab--reviews {
  display: none;
}

.services__menu::-webkit-scrollbar {
  display: none;
}

.services__tab {
  flex-shrink: 0;
  padding: 8px 16px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  flex: 0 0 auto;
}

.services__tab--active {
  border: 1px solid #41f6d7;
}

.services__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.services__text {
  font-size: 14px;
  line-height: 1.5;
}

.services__text-hidden {
  display: none;
}

.services__read-more {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  font-weight: 500;
}

.services__image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .services__content {
    flex-direction: row;
    gap: 32px;
  }

  .services__text {
    width: 50%;
  }

  .services__image {
    width: 50%;
  }

  .services__text-hidden {
    display: block;
  }

  .services__logo-mid {
    display: flex;
  }
}

@media (min-width: 1120px) {
  .services {
    padding: 40px;
  }

  .services__header {
    display: none;
  }

  .services__actions {
    display: flex;
  }

  .services__title {
    font-size: 28px;
  }

  .services__tab--reviews {
    display: block;
  }

  .services__menu {
    flex-wrap: wrap;
    overflow-x: visible;
  }
}
